/* BUTTON */

.buttonHero {
  width: 200px;
  height: 50px;
  font-family: var(--font-montserrat);
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;

  transition: 150ms ease-in-out;

  animation: buttonUp 2000ms ease-in-out;
}

.buttonHero:hover {
  background-color: #ff3b7c;
}

@keyframes buttonUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* BUTTON ENDS */


/*=======================
Header
=========================*/

.header {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background: linear-gradient(to right, #f857a6, #ff5858);
}

.header h1 {
  margin: 10px 0;
  color: white;
  font-family: var(--font-dancingS);
  font-size: 248px;
  letter-spacing: 10px;
}

.header p {
  color: white;
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}


@media (max-width:800px) {
  .header h1 {
    font-size: 128px;
  }

  .header p {
    width: 80%;
  }
}

/*=======================
Header Ends
=========================*/

/*=======================
Main
=========================*/


.slogan {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan h2 {
  background: linear-gradient(to right, #f857a6, #ff5858);
  font-size: 42px;
  font-family: var(--font-dancingS);
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* INTRODUCTION SECTION */

.introductionContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background: linear-gradient(to right, #f857a6, #ff5858);
}

.introduction {
  width: 95%;
  height: 700px;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.introduction h6 {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: var(--font-outfit);
  color: gray;
  font-weight: 300;
}

/* INTRODUCTION SECTION ENDS */

/*=======================
Main End
=========================*/
